.nav{
    margin: 15px;
    padding: 15px;

    &__list{
        margin: 15px;
        list-style: none;
        display: flex;
        justify-content: space-around;

        .nav__item{
            .nav__link{
                text-decoration: none;
                padding: 10px;
                color: $text-color-link;
                &--active{
                    border-bottom: 5px solid rgb(6, 6, 102);
                }
            }
        }
    }
}